.sidenav-container {
  display: flex;
}

.body-sidenav-container {
  flex: 2;
  background-color: transparent;
}

.mat-drawer-container {
  position: static;
}

.sidenav-btn {
  height: 2%;
  margin-top: 20px;
  margin-left: -10px;
}

.sidebar-content {
  display: inline-flex;
  background-color: rgb(0, 173, 247);
}

.sidebar-image {
  display: inline-block !important;
  text-align: left;

}

.profile-img {
  height: 100px;
  margin: 20px;
  border-radius: 5%;
}

.user-info {
  text-align: center;
  display: inline-block;
  margin: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(9, 6, 62);
}

.mat-drawer {
  background-color: rgb(163, 189, 189);
}

#logout-btn {
  margin: 10px;
  background-color: transparent;
}

#logout {
  padding-left: 15px;
}

.logout-content {
  background-color: rgb(0, 65, 196);
}

.mat-toolbar-single-row {
  height: 50px;
  padding-left: 70px;
}
