/* @import "~font-awesome/css/font-awesome.min.css"; */

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-image: url("./assets/background.jpg");
   /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

 * {
    box-sizing: border-box;
  }
  
  