<mat-toolbar color="primary">
  <span>To Do: redesign </span>
  <span class="spacer"></span>
  Reload data:
  <button mat-icon-button (click)="refreshTable()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <!-- Company Detail -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell *matCellDef="let row">
        <mat-card class="comapny-details">
          <mat-card-header>
            <div mat-card-avatar class="company-avatar">
              <img class="company-image" [src]="'http://localhost:5500//'+row.icon" alt="Company Photo">
            </div>
            <mat-card-title>{{row.name}}</mat-card-title>
            <mat-card-subtitle>{{row.abbr}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </td>
    </ng-container>

    <!-- Industry Column -->
    <ng-container matColumnDef="industry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry</th>
      <td mat-cell *matCellDef="let row">{{row.industry}}</td>
    </ng-container>

    <!-- Units Column -->
    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Units</th>
      <td mat-cell *matCellDef="let row">{{row.units}}</td>
    </ng-container>

    <!-- Buy Price Column -->
    <ng-container matColumnDef="prices">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Buy Price</th>
      <td mat-cell *matCellDef="let row">{{row.buyprice}}</td>
    </ng-container>

    <!-- Sell Price Column -->
    <ng-container matColumnDef="sellprice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sell Price</th>
      <td mat-cell *matCellDef="let row">{{row.sellprice}}</td>
    </ng-container>

    <!-- Profit Column -->
    <ng-container matColumnDef="profit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profit</th>
      <td mat-cell *matCellDef="let row">{{row.sellprice - row.buyprice}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <mat-paginator [pageSizeOptions]="[5, 10, 20, 40, 80, 100]"></mat-paginator>

</div>

<router-outlet></router-outlet>
