h3 {
    color: white;
}

.full-width-table {
    width: 100%;
  }
.company-details {
    max-width: 100px !important;
    box-shadow: none;
  }

.mat-table {
  width: 95%;
  float: right;
}

.mat-card {
<<<<<<< HEAD
  max-width: 80px;
=======
  max-width: 120px;
>>>>>>> 367e5cefb30514111ea359b1d106ab14873720ec
  box-shadow: none;
  margin: none;
  padding-left:0px;
}

.mat-header-cell {
    font-size: 1rem;
}

<<<<<<< HEAD
=======
.td.mat-cell {
    min-width: 200px;;
    width: 250px;
}

>>>>>>> 367e5cefb30514111ea359b1d106ab14873720ec
.company-content {
    display: inline-block;
}

.company-avatar {
    width: 64px;
    height: 64px;
    margin: 0;
}
.company-image {
    width: inherit;
    height: inherit;
    margin: inherit;
}