
.full-width-table {
  width: 100%;
}

.company-details {
  max-width: 100px !important;
  box-shadow: none;
}

.mat-paginator {
  width: 100%;
  float: right;
} 

.mat-card {
  max-width: 120px;
  box-shadow: none;
  margin: none;
  padding-left: 0px;
}

.company-content {
  display: inline-block;
}

.right.mat-cell {
  justify-content: center;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.right.mat-header-cell {
  justify-content: center;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  /* margin-right: 0; */
}
.right.mat-header-cell:last-child {
  justify-content: center;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.company-avatar {
  width: 64px;
  height: 64px;
  margin: 0;
}

.company-image {
  width: inherit;
  height: inherit;
  margin: inherit;
}

.mat-column-endprice {
  width:50%;
  margin: auto;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-left: 5%;
  padding-right: 24px;
  width: 20%;
  text-align: center;
}

.mat-form-field {
  font-size: 20px;
  width: 30%;
}
  
.toolbar-icon {
  /* padding: 0 14px;  */
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.prices {
display: inline-block;
}

.highprice{
  display: block;
  color: green;
}

.lowprice{
  display: block;
  color: red;
}

.endprice {
  display: inline-block;
  font-size: 3em;
  margin-left: 20px;
}


