.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.mat-sidenav {
  z-index: 99;
}
  
#sidenav-button {
    z-index: 98;
    top: 1%;
    position: fixed;
}

   .mat-drawer-container {
    position: static;
  }
  