.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.mat-sidenav {
  z-index: 99;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../../../assets/myimage.jpg");
  background-color: powderblue;
}

#sidenav-button {
    z-index: 98;
    top: 0.5%;
    left: 0.5%;
    position: absolute;
}

#to-top-button {
  z-index: 97;
  top: 0.5%;
  left: 0.5%;
  position: fixed;
}

   .mat-drawer-container {
    position: static;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .sidenav-icon {
    padding: 0 14px;
  }
  