.profile-card {
    max-width: 400px;
    border-radius: 0px;
    margin-top: 5%;
    background-color: rgba(123, 158, 206, 0.5);
    /* -webkit-box-shadow: 0px 2px 50px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 50px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 50px 1px rgba(0,0,0,0.75); */
  }

.mat-card-avatar{
    width: 40px;
    height: 45px; 
  }
  
.profile-image {
    width: inherit;
    height: inherit;
    user-select: none;
  } 

  mat-card-title {
    max-width: 100px;
  }
  mat-card-subtitle {
    user-select: none;
  }

  .mat-card-actions {
    margin: 0 auto;
    /* text-align: center; */
  }

.logout-button {
 background-color: #b30000;
 color: white;
}

.complete-button {
    background-color: #339966;
    color: white;
    /* font-size: 20px; */
  } 