
  <mat-card class="example-card" color="primary" *ngIf="managerProfile">
      <mat-card-header>
        <div mat-card-avatar>
          <img class="profile-image" [src]="'http://localhost:5500/'+managerProfile.avatar">
        </div>
         
        <mat-card-title>{{ managerProfile.fullname }}</mat-card-title>
        <mat-card-subtitle>{{ managerProfile.role }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
          <span flex></span>
          <button mat-raised-button class="logout-button" (click)="logout()" color="primary">Logout</button>
      </mat-card-actions>
    </mat-card>