<div class="example-container">


  <button mat-raised-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>


  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav>

      <mat-toolbar>
        <H1>HERE SHOULD BE PROFILE</H1>
      </mat-toolbar>

      <mat-divider></mat-divider>

      <mat-toolbar>
        <span>Client Overview</span>
      </mat-toolbar>

      <mat-divider></mat-divider>

      <mat-nav-list>

        <app-side-nav [navMenu]="navMenu"></app-side-nav>

      </mat-nav-list>

    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>

</div>
