table {
  width: 100%;
  /* margin-left: 75px; */
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 75px;
}

td.mat-cell:nth-of-type(1), td.mat-footer-cell:nth-of-type(1), th.mat-header-cell:nth-of-type(1) {
  padding-left: 75px;
  /* width: 15%; */
  justify-content: center;
}

.mat-form-field {
  font-size: 20px;
  width: 30%;
}

td,
th {
  width: 20%;
  /* font-size: 1.15em; */
}

.profile-image{
  width: 40px;
  height: 45px; 
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

