 
 .page-container {
  margin-top:1%
 }

  .company-card {
    max-width: 300px;
    min-width: 200px;
    margin: 1%;
  }

  .company-image{
    width: 64px;
    height: 64px;
    padding: 0px 0px 10px 10px;
  }

  .mat-card-header-text {
    margin: 0px;
  }

  .preposition {
   margin:0 16px;   
  }

  .news-container {
    max-width: 332px;
    min-width: 200px;
    margin: 1%; 
  }

  .news-accordion .mat-expansion-panel-header-title,
  .news-accordion .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .news-accordion .mat-expansion-panel-header-description {
    justify-content: flex-end;
    align-items: center;
  }

  div.mat-chip-list-wrapper {
    margin: 0px;
    margin-bottom: -10px;
    color: blue;
}
mat-chip {
  max-width: 200px;
  margin: 0px;
  margin-bottom: -10px;
}