table {
  width: 100%;
}

.full-width-table {
  width: 100%;

  background: rgba(235,235,235,1);
  background: -moz-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 64%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,235,235,1)), color-stop(13%, rgba(255,255,255,1)), color-stop(54%, rgba(255,255,255,1)), color-stop(64%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
  background: -webkit-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 64%, rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 64%, rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 64%, rgba(204,204,204,1) 100%);
  background: linear-gradient(to right, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 13%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 64%, rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#cccccc', GradientType=1 );
}

.mat-form-field {
  font-size: 20px;
  width: 30%;
}

td,
th {
  width: 20%;
  /* font-size: 1.15em; */
}


.mat-toolbar-row, .mat-toolbar-single-row {
  padding-left: 75px;
}

td.mat-cell:nth-of-type(1), td.mat-footer-cell:nth-of-type(1), th.mat-header-cell:nth-of-type(1) {
  padding-left: 75px;
  /* width: 15%; */
  justify-content: center;
}


.profile-image{
  width: 40px;
  height: 45px; 
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

