<div class="container login-div">
  <form [formGroup]="loginForm" (ngSubmit)="login()">


    <mat-card tabindex="0">

      <mat-card-title>
        <!-- TITLE -->
        <h1>Log In</h1>
      </mat-card-title>

      <mat-card-content>
        <!-- EMAIL -->
        <mat-form-field>
          <input class="login-input" matInput formControlName="email" placeholder="Email" id="email-input" type="email"
            required>
        </mat-form-field>
        <!-- PASSWORD -->
        <mat-form-field>
          <input class="login-input" matInput formControlName="password" placeholder="Password" id="password-input"
            type="password">
        </mat-form-field>
      </mat-card-content>

      <mat-card-footer>
        <!-- LOGIN -->
        <button mat-button>Login</button>
      </mat-card-footer>

    </mat-card>
  </form>
</div>
