/* .login-input {
  color: white;
} */
html, body {margin: 0; height: 100%; overflow: hidden}

.login-title {
  user-select: none;
  display: block;
  margin: auto;
  margin-top:1%;
  margin-left: 1%;
  text-align: left;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(255, 255, 255, 0.1);
  color: rgba(123, 158, 206, 0.7);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login-body {
height: 500px;
margin-top: 2%;
background:white;
-webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.61);
box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.61);
}

.slideshow{
  width: 60%;
  display: inline-block;
  clip-path: polygon(
    0 0, /* left top */
    90% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );
}


.login-container {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  text-align: center;
}

.login-div {
  width: 400px;
  margin: auto;
  margin-right: 5%;
  display: inline-block;
}

form {
  margin-top: 15%;
}

.login-form-title{
  text-align: left;
}

.mat-form-field {
  text-align: center;
  display: block;
  font-size: 20px;
}

.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px 0;
  text-align: center;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login-button {
  margin: 5%;
  text-align: center;
}

.login-footer {
  font-size: 10px;
  margin: 15%;
  text-align: right;
}