<div class="container">
  <h3 mat-dialog-title>Client id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div>
      <p>Current Client Email:</p>
      <p>{{data.email}}</p>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="New Client Email" [(ngModel)]="data.newClientEmail"
          name="email" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <p>Current Client Address:</p>
      <p>{{data.address}}</p>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="New Client Address" [(ngModel)]="data.newClientAddress"
          name="address" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button type="button" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button type="button" (click)="cancel()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
