.admin-home-container {
  margin: 5%;
  margin-top: 1%;
}

.first-div {
  /* margin-top: 50px; */
  width: 100%;
  display: inline-block;
}

.mat-card {
  margin: 10px;
  width: 100%;
}


.home-text {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  /* margin: 5%; */
  font-size: 60px;
  line-height: 120%;
  text-align: center;
}

.app-tree {
  max-width: 600px;
  display: inline-block;
  vertical-align: top;
}

.add {
  color: white;
  display: inline-block;
}

/* display: inline-block; */

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
