<div class="admin-home-container">

  <div class="first-div">
    <mat-card>
      <mat-card-header>

        <mat-card-title>Project Description</mat-card-title>

      </mat-card-header>

      <mat-card-content>
        <p class="mat-h3">
          <strong>Invest-42</strong> is an all in one system providing invetsment companies a single coherent hub for
          high-profile client management. The application allows trade managers to operate on client investment
          profiles based on instuctions, follow the stock market prices and read news on the companies they trade with.
        </p>
      </mat-card-content>

    </mat-card>

   
  </div>
  <!-- <mat-card class="app-tree">
    <mat-card-header>
  
      <mat-card-title>Map of the Project</mat-card-title>
      <mat-card-subtitle>All paths accessable - under developement</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <app-project-tree-component></app-project-tree-component>
    </mat-card-content>

  </mat-card> -->

</div>
