<div class="first-div">
  <mat-card >
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Project Description</mat-card-title>
      <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p class="mat-h3">
        <strong>Invest-42</strong> is an all in one system providing invetsment companies a single coherent hub for high-profile client management. The application allows trade managers to operate on client investment profiles based on instuctions, follow the stock market prices and read news on the companies they trade with.
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button> -->
    <!-- </mat-card-actions> -->
  </mat-card>

  <mat-card >
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Getting Started Guide:</mat-card-title>
        <mat-card-subtitle>Questions we will answer</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p class="mat-h3">
          How to register? <br/>
          How to log in? <br/>
          How to get clients? <br/>
          How to see the market? <br/>
          How to select clients? <br/>
          How to trade with a client profile? <br/>
          How to oversee all investments? <br/>
          How to oversee client investments? <br/>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button (click)="open()">Discover Sidenav</button> -->
      </mat-card-actions>
    </mat-card>
  </div>

<mat-card class="app-tree">
    <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div>  -->
        <mat-card-title>Map of the Project</mat-card-title>
        <mat-card-subtitle>All paths accessable</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">  -->
      <mat-card-content>
          <app-project-tree-component></app-project-tree-component>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
  </mat-card>

