<div *ngIf="client">

  <h1>id: {{client.id}}</h1>
  <h1>fullname: {{client.fullname}}</h1>
  <h1>email: {{client.email}}</h1>
  <h1>dateOfCreation: {{client.dateOfCreation}}</h1>
  <h1>address: {{client.address}}</h1>
  <h1>age: {{client.age}}</h1>
  <h1>availableBalance: {{client.availableBalance}}</h1>
  <h1>status: {{client.status}}</h1>
  <h1>icon: {{client.icon}}</h1>

  <button mat-raised-button color="primary" (click)="deposit()">Deposit</button>
  <button mat-raised-button color="primary" (click)="withdraw()">Withdraw</button>
  <button mat-raised-button color="primary" (click)="editAccount()">Edit Account</button>

  <h1>CURRENT PROFIT OR LOSS: not impl for now!</h1>

</div>
