<div *ngIf="client" class="client-details-container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="client-image" [src]="'http://localhost:5500//'+client.icon" alt="Client Icon">
            </div>
          <mat-card-title>Client Profile</mat-card-title>
          <!-- <mat-card-subtitle></mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <div class="mat-h3 client-details">
              Full naame:{{client.fullname}}<br/>
              Email: {{client.email}}<br/>
            <!-- Age: {{client.age}}<br/> -->
            Address: {{client.address}}<br/>
            Date Registered: {{client.dateOfCreation.slice(0, 10)}}<br/>
        </div>
          <div class="mat-display-1 client-balance">
            Balance: {{client.availableBalance}}<br/>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="deposit()">Deposit</button>
            <button mat-raised-button color="primary" (click)="withdraw()">Withdraw</button>
            <button mat-raised-button color="primary" (click)="editAccount()">Edit Account</button>
        </mat-card-actions>
      </mat-card>


  <h1>CURRENT PROFIT OR LOSS: not impl for now!</h1>

</div>
